<div class="row">
	<div class="col-lg-6 col-lg-offset-3" ng-if="model.numberOfSlices">
		<pie-chart chart="model.slices"></pie-chart>
	</div>
</div>
<strong> Number of Slices </strong>
<br />

<div class="form-group">

	<input class="form-control" type="range" ng-model="model.numberOfSlices" min=1 max=99 integer id="numOfSlices"/>
</div>
<strong>Values </strong>
<br />
<div class="form-group" ng-repeat="slice in model.slices">
	<input class="form-control" type="range" ng-model="slice.value" min=1 max=99 integer />
</div>
